.footer{
    /* padding: 10px; */
    /* max-width: 600px; */
    /* margin: 0 auto; */
    background-color: #a1c8e3;
    margin-top: 25px;
    /* NOTE: padding: [top] [right] [bottom] [left]; */
    padding: 5px 10px;
}



footer{
    display:flex;
    justify-content: space-between;
    /* margin-top: 25px;
    margin-bottom: 0px; */
    /* padding-top: 10px; */
}

footer a{
    text-decoration: none;
    color: inherit;
    /* margin-right: 10px; */
}

footer nav {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

footer a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}