.homepagebanner{
  width: 600px;
  max-width: 90vw;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 24px;
}

.homepage-welcome {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: gray;
}