.navbar{
    padding: 10px;
    /* max-width: 600px; */
    box-sizing: border-box; /*TODO: necessary?*/
    /* width: 100%; */
    width: 100vw;
    /* margin: 0 auto; */
    background-color: #a1c8e3;
}

header{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

header a{
    text-decoration: none;
    color: inherit;
    /* margin-right: 10px; */
}

header .navbar-logo {
    font-weight: bold;
    gap: 10px;
    display: flex; /* TODO: Duplicate code?? */
    align-items: center; /* TODO: Duplicate code?? */
}

.navbar-logo a {
  display: flex;
  align-items: center;
  gap: 10px; /* TODO: optional space between logo and text */
}

header nav {
    display: flex;
    gap: 15px;
}

img {
    width: 25px;
    height: 25px;
}