fastapi
uvicorn
pydantic
python-jose

# separately, before installing these (since these dependencies should be bundled in a python virtual environment): python venv virtual environment
# pip install -r requirements.txt